<div class="text-center">
<h2>ようこそ、meshiTomoへ！</h2>

<p>MeshiTomoのTomoは「友」ではなく、「共」です。</p>


<p>行きたいお店があるけど、一人では入りづらいなぁ…</p>
<p>人数制限のあるコース料理を食べたい！</p>

<p>あなたの希望通りの食事ができるよう、meshiTomoがお助けいたします。</p>
<p>ここで、食事を共にできる人を探してみませんか？</p>

<div>
<p><%= link_to "新規登録", new_user_registration_path, class: "btn sign_up_btn btn-lg" %></p>
<p><%= link_to "ログイン", new_user_session_path, class: "btn sign_in_btn btn-lg" %></p>
</div>
</div>
<!--のそのような食に対するお悩み・要望を、-->
<!--<p>meshiTomoは、あなたが希望通りの食事ができるよう、人数集めをお助けいたします。</p>-->