  <script src="jquery.min.js"></script>
  <script src="top.js"></script>
  
  <div id="splash">
    <div id="splash_rgba"></div>
      <div id="splash_logo">
        <%= image_tag 'meshitomo_sm.png', alt: "", class: "fadeUp" %>
      </div>
    </div>
  </div>

  <main>
    <div id="container">
       <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
          <div class="col-lg-12 col-md-12 col-sm-12 col-12 meshitomo_logo"><%= image_tag 'meshitomo.png', alt: "meshiTomo", class: "meshitomo_logo" %></div>
  
          <h3 class="col-lg-12 col-md-12 col-sm-12 col-12 mb-4">ようこそ、meshiTomoへ！</h3>
          
          <p class="col-lg-12 col-md-12 col-sm-12 col-12">MeshiTomoのTomoは「友」ではなく、「共」です。</p>
          
          <div class="col-lg-12 col-md-12 col-sm-12 col-12 border-radius-top p-3 m-4">
          <p>・行きたいお店があるけど、一人では入りづらいなぁ…</p>
          <p>・人数制限のあるコース料理を食べたい！</p>
          <p>・急に１人キャンセルになっちゃった、どうしよう…</p>
          </div>
          
          <p class="col-lg-12 col-md-12 col-sm-12 col-12">あなたの希望通りの食事ができるよう、meshiTomoがお助けいたします。</p>
          <p class="col-lg-12 col-md-12 col-sm-12 col-12">ここで、食事を共にできる人を探してみませんか？</p>

        <div class="col-lg-12 col-md-12 col-sm-12 col-12 row pt-4 mx-auto">
          <p class="col-lg-6 col-md-6 col-sm-6 col-6 text-right"><%= link_to "新規登録", new_user_registration_path, class: "btn sign_up_btn btn-lg" %></p>
          <p class="col-lg-6 col-md-6 col-sm-6 col-6 text-left"><%= link_to "ログイン", new_user_session_path, class: "btn sign_in_btn btn-lg" %></p>
        </div>
      </div>     
    </div>
  </main>
<!--のそのような食に対するお悩み・要望を、-->
<!--<p>meshiTomoは、あなたが希望通りの食事ができるよう、人数集めをお助けいたします。</p>-->

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/4-1-4/js/4-1-4.js"></script>