<h2>ようこそ、meshiTomoへ！</h2>

<p>MeshiTomoのTomoは「友」ではなく、「共」です。</p>

<ul>
  <li>行きたいお店があるけど、一人では入りづらい…</li>
  <li>人数制限のあるコース料理を食べたい！</li>
</ul>

<p>あなたの食事の人数集めを、meshiTomoがお助けいたします。</p>
<p>ここで、食事を共にできる人を探してみませんか？</p>