<h2>メッセージグループ一覧</h2>
<% @chat_groups.each do |chat_group| %>

  <p><%= link_to chat_group.recruitment.title, admin_recruitment_path(chat_group.recruitment.id) %></p>
  <p><%= link_to "メッセージグループ", admin_recruitment_chat_groups_path(chat_group.recruitment.id) %></p>
<% end %>