@use '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Murecho:wght@600&display=swap');




// .nav-bg{
//   background-image: url(app/assets/images/background_wahu.jpeg);
// }

*{
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-color: #4b4b4b;

}

.btn-color-green{
  background: #abb97f;
  color: white;
}

.btn-color-gray{
  background: #C6C2BE;
  color: white;
}

.border-radius-80{
  border-radius: 80px;
  background-color: white;
}

.border-radius-50{
  border-radius: 50px;
}

.nav-bg{
  background-image: url(../images/check.png);
}

.recruitment_logo{
  background-image: url(../images/white_grain.jpg);
  width: 130px;
  border: 6px solid #dfd6c8;
}

.border-color{
  border: 6px solid #dfd6c8;
}

.body-bg{
  // background-image: url(../images/white_grain.jpg);
  background-color: #fffce7;
}

h2{
  font-family: 'Murecho', sans-serif;
}

h1{
  font-family: 'Murecho', sans-serif;
}

.text-area{
  width: 300px;
  height: 100px;
}

.sign_in_btn{
  background: #4de0d6;
  // #58dddf
  color: white;
}

.sign_up_btn{
  background: #f4be48;
  color: white;
}
