<div class="my-5">
  <div class="container">
    <div class="text-center p-5">
      <h2>みんなでお食事に行きましたか？</h2>
      <p class="py-4">行った！ボタンを押した後は、このメッセージグループは削除されます。</p>
      
      <p class="pt-4"><%= link_to "行った！", recruitment_chat_groups_path(@recruitment.id), method: :delete, class: "btn btn-color-green" %></p>
      <p><%= link_to "まだ行ってない", recruitment_chat_groups_path(@recruitment.id), method: :get, class: "btn btn-color-gray" %></p>
    </div>
  </div>
</div>