<div class="text-center my-5">
  <h1>一緒に行く人が決まりました！</h1>
  
  <p class="mt-5">さっそくメッセージを送って、予定を決めましょう。</p>
  <p><%= link_to "メッセージグループ", recruitment_chat_groups_path(@recruitment.id), class: "btn btn-color-green btn-lg" %></p>
</div>